on: [push]
name: Test
jobs:
  test:
    runs-on: macos-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v1
    - name: Test
      run: go test -race -coverprofile=coverage.txt -covermode=atomic ./... 
    - name: Report code coverage
      run: bash <(curl -s 'https://codecov.io/bash') -t ${{ secrets.CODECOV_TOKEN }}
